<div class="ng4-suggest-block"
[ngStyle]="{
    'left': targetInputLeft
}"
*ngIf="listVisible">
    <div *ngFor="let item of preparedList; let i = index">
        <div
        *ngIf="item.visible">
            <label (click)="selectItem(item)"
            class="ng4-suggest-label">{{item.content}}</label>
        </div>
    </div>
</div>