.ng4-suggest-block {
    position: absolute;
    z-index: 3;
    padding: 0.3rem;
    background-color: #f8f9fa;
    border-color: #c6c9ce;
    border-radius: 0.2rem;
    text-align: left;
}

.ng4-suggest-label {
    margin-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.2rem;
    color: #333;
    width: 100%;
}

.ng4-suggest-label:hover {
    background-color: #fff;
    color: #17a2b8;
}