<pre>
    Data for suggestion: ['luis', 'pedro', 'pekoms']
</pre>
<p style="text-align: center; margin-top: 100px;">
    <input type="text" #user />
    <ng4-suggest [inputTarget]="user" [list]="['luis', 'pedro', 'pekoms']"></ng4-suggest>
</p>
